/*2020年6月25日CSS解析エラーなし！*/


body {
	font-family: sans-serif;
	color: #333333;
	margin: 0;
}


#PageBodyMain p {
	font-size: 14px;
	line-height: 1.429;
	}


/*ページ*/
#page {
	width: 980px;
	margin: 0 auto;
	}



/*ページヘッダー*/
#PageHead #siteTltle {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 0;
	font-family: 'Kokoro', serif;
	}


#PageHead #catchcopy {
	font-size: 12px;
	line-height: 1.5;
	margin-top: 5px;
	}



/*ページフッター*/
#pageFoot {
	border-top: solid 1px #cccccc;
	margin-top: 15px;
	}


#PageHead #copyright small {
	font-size: 12px;
	line-height: 1.5;
	}



/*ページボディ*/
#pageBody {
	margin-top:30px;
	}


#pageBody:after {
	content: "";
	clear: both;
	display: block;
	}


#pageBodyMain {
	width:720px;
	float: left;
	}/*左*/



/*サブカラム内の装飾*/

/*見出し*/

#pageBodySub h3 {
	font-size: 16px;
	line-height: 1.375;
	padding: 5px;
	margin-top: 0;
	border-bottom: 1px solid #cccccc;
	}


/*お知らせ*/

#pageBodySub .newsList ul {
	list-style: none;
	padding: 0;
	}


#pageBodySub .newsList ul li {
	font-size: 12px;
	line-height: 1.5;
	margin: 10px 5px;
	}


#pageBodySub .newsList ul li time {
	font-weight: bold;
	display: block;
	}


/*メインカラム内の装飾*/

/*見出し*/

#pageBodySub {
	width: 220px;
	float: right;
	}/*右おしらせ*/



	





/*リスト*/
#PageBodyMain ul li {
	font-size: 14px;
	list-style: square;
	line-height: 1.429;
	}



/*表*/
#PageBodyMain table {
	font-size: 14px;
	line-height: 1.429;
	border: solid 1px #cccccc;
	border-collapse: collapse;
	width: 100%;
	}



#PageBodyMain table th,
#PageBodyMain table td {
	border: solid 1px #cccccc;
	padding: 5px 10px;
	}



#PageBodyMain table th {
	background-color: #EEEEEE;
	text-align:left;
	}



#PageBodyMain table caption {
	text-align:left;
	font-weight: bold;
	}



/*図版*/
figure {
	margin: 0;
	}



/*画像キャプション*/
#PageBodyMain figcaption {
	font-size: 12px;
	}



/*見出し*/

#pageBodyMain .pageTitle {
	font-size: 26px;
	background-color: #F2F2E5;
	padding: 5px 15px;
	line-height: 1.231;
	margin-top: 0;
	}/*h2*/



#PageBodyMain .heading-typeA {
	font-size: 18px;
	color: #349FA6;
	border-bottom: solid 1px #E3E4D9;
	padding: 5px;
	line-height: 1.333;
	}/*h3*/

#PageBodyMain .heading-typeB {
	font-size: 16px;
	border-left: solid 5px #E3E4D9;
	padding-left: 10px;
	line-height: 1.375;
	}/*h4*/

#PageBodyMain .heading-typeC {
	font-size: 14px;
	line-height: 1.429;
	}/*h3*/


#PageBodyMain .articleDetailHead{
	border-bottom: solid 1px #cccccc;
	margin-bottom: 30px;
	padding-bottom: 15px;
	}


#PageBodyMain .articleDetailFoot{
	border-top: solid 1px #cccccc;
	margin-top: 30px;
	padding-top: 15px;
	}


#PageBodyMain .articleDetailBody{
	margin: 30px 0;
	}



#PageBodyMain .creditUnit {
	padding: 10px;
	border: solid 1px #cccccc;
	}


#PageBodyMain .creditUnit p {
	font-size: 12px;
	line-height: 1.5;
	}

